<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h2 class="card-title">Projeto Academia</h2>
                      <h3 class="card-category">Login</h3>
                  </div>
                  <div class="card-body">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                          <mat-icon matSuffix>account_circle</mat-icon>
                          <input matInput placeholder="Nome">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-icon matSuffix>lock</mat-icon>
                            <input type="password" matInput placeholder="Senha">
                        </mat-form-field>
                        <a mat-raised-button routerLink="dashboard">Login</a>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
