<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h2 class="card-title">Projeto Academia</h2>
                        <h3 class="card-category">Login</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
                            <mat-error *ngIf="isInvalid()">
                                {{MessageFireBase}}
                            </mat-error>
                            <div *ngIf="Load()">
                                <mat-progress-spinner [mode]='mode' [color]="color" [diameter]="diameter">
                                </mat-progress-spinner>
                            </div>
                            <mat-form-field class="example-full-width">
                                <mat-icon matSuffix>account_circle</mat-icon>
                                <input (change)="ClearMsn()"  formControlName="userName" matInput placeholder="Nome" name="nome" required>
                                <mat-error *ngIf="isFieldInvalid('userName')">
                                    Por favor Informe seu usuario (exemplo@gmail.com)
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-icon matSuffix>lock</mat-icon>
                                <input (change)="ClearMsn()" formControlName="password" type="password" matInput placeholder="Senha"
                                    name="senha" required>
                                <mat-error *ngIf="isFieldInvalid('password')">
                                    Por favor Informe sua senha
                                </mat-error>
                            </mat-form-field>

                            <button mat-raised-button>Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>